<div class="row mt-5">
    <div class="col-md-10 m-auto">
      <div class="card bg-secondary card-body">
        <h1 class="text-center mb-3">Bookings</h1>
        <a href="/homepage">Back</a>
        <ul class="list-group">
           <table class="table table-hover text-center">
            <thread>
                <tr class="table-active">
                    <th scope="col">Booking ID</th>
                    <th scope="col">Site Number</th>
                    <th scope="col">Arrival Date</th>
                    <th scope="col">Departure Date</th>
                    <th scope="col">Customer ID</th>
                    <th scope="col">More</th>
                </tr>
            </thread>
            <tbody>
                <% bookings.forEach(booking => { %>
                    <tr class="table-primary">
                        <td><%= booking.id %></td>
                        <td><%= booking.site %></td>
                        <td><%= booking.arrival %></td>
                        <td><%= booking.departure %></td>
                        <td><%= booking.cust %></td>
                        <td><a href="/booking/<%= booking.id %>/edit">Edit</a>
                            <form method="POST" action="/booking/<%= booking.id %>?_method=DELETE">
                                <button type="Submit" class="btn btn-link-dark">Delete</button>
                            </form>
                        </td>
                    </tr>    
                <% }) %>
            </tbody>
            </table> 
      </div>
    </div>
</div>



